build

# don't commit source for subprojects
subprojects/googletest
subprojects/libevent
subprojects/lmdb
subprojects/minunit
subprojects/rcpr
subprojects/vccert
subprojects/vccrypt
subprojects/vcdb
subprojects/vcmodel
subprojects/vpr

#cscope / ctags artifacts
cscope.*
tags
